<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>studentarena-frontend</title>

    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/responsive.css">

    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>landing/assets/img/favicon.png" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- Libs CSS -->
    <link href="<%= BASE_URL %>landing/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/streamline-icon/css/streamline-icon.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/header-new.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/style.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/shortcodes.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/utilities.css" rel="stylesheet" />

    <!-- Skin -->
    <link rel="stylesheet" href="<%= BASE_URL %>landing/assets/css/skin/default.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= BASE_URL %>landing/assets/css/custom.css">

    <!-- Libs CSS -->
    <link href="<%= BASE_URL %>landing/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/streamline-icon/css/streamline-icon.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/header-new.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/style.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/shortcodes.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>landing/assets/css/utilities.css" rel="stylesheet" />

    <!-- Skin -->
    <link rel="stylesheet" href="<%= BASE_URL %>landing/assets/css/skin/default.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= BASE_URL %>landing/assets/css/custom.css">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but primecare-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script type="text/javascript" src="<%= BASE_URL %>assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>assets/js/popper.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>assets/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>assets/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>assets/js/scrollbar.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>assets/js/script.js"></script>

    <!-- Vendor -->
    <script src="<%= BASE_URL %>landing/assets/vendor/jquery/jquery.min.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/jquery/jquery.visible.min.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="<%= BASE_URL %>landing/assets/js/cubeportfolio.init.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/slick-slider/slick.js"></script>
    <script src="<%= BASE_URL %>landing/assets/vendor/svg-injector/svg-injector.min.js"></script>

    <script src="<%= BASE_URL %>landing/assets/js/page.js"></script>
    <script src="<%= BASE_URL %>landing/assets/js/other.js"></script>
    <script src="<%= BASE_URL %>landing/assets/js/script.js"></script>

    <!-- Theme Custom -->
    <script src="<%= BASE_URL %>landing/assets/js/custom.js"></script>
  </body>
</html>
