<div class="wrapper">
    <!--Header-->
    <header id="header" class="header-transparent-light-bottom-border header-transparent-light-bottom-border-1" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 45, 'stickySetTop': '-45px', 'stickyChangeLogo': true}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img alt="Vertex" width="140" height="35" data-sticky-width="100" data-sticky-height="25" data-sticky-top="25" src="./../../../assets/img/logo.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row pt-2">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link text-primary pl-0 m-list--link" href="#"><i class="icon-mail-2 fs-15 mr-1"></i> support@domain.com </a>
                                    </li>
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <span class="ws-nowrap text-success m-list--link fs-15"><i class="icon-headphone"></i> +45 3212 5680</span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">
                                        <div class="social social-brand text-center">
                                            <a class="social-facebook m-0 transition-hover" href="#"><i class="fab fa-facebook"></i></a>
                                            <a class="social-twitter m-0 transition-hover" href="#"><i class="fab fa-twitter"></i></a>
                                            <!--<a class="social-instagram m-0 transition-hover" href="#"><i class="fab fa-instagram"></i></a>-->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-nav-features">
                                <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                    <a href="#" class="header-nav-features-toggle" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
                                    <div class="header-nav-features-dropdown" id="headerTopSearchDropdown">
                                        <form class="input-round" role="search" action="#" method="get">
                                            <div class="simple-search input-group">
                                                <input class="form-control form-control-sm" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                                                <span class="input-group-append">
                                                    <button class="btn btn-sm" type="submit">
                                                        <i class="fa fa-search header-nav-top-icon"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-row">
                            <div class="header-nav header-nav-links order-2 order-lg-1">
                                <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="dropdown dropdown-mega">
                                                <a class="dropdown-item dropdown-toggle active" href="#">
                                                    Home
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="dropdown-mega-content">
                                                            <div class="row">
                                                                <div class="col-lg-3 dropdown-mega-sub-content-block bg-primary d-none d-lg-block">
                                                                    <span class="top-sub-title text-white-50 d-block">THE MOST</span>
                                                                    <span class="text-white font-weight-bold d-block text-4 mb-2">POWERFUL</span>
                                                                    <p class="text-white-50">A revolutionary theme trusted by tons of customers</p>
                                                                    <a class="btn btn-light btn-sm" href="#">Get Started</a>
                                                                </div>
                                                                <!-- <div class="col-lg-3 ml-auto">
                                                                    <span class="dropdown-mega-sub-title">MULTI PURPOSE</span>
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="index.html">Home - Variation 1</a></li>
                                                                        <li><a class="dropdown-item" href="index-2.html">Home - Variation 2</a></li>
                                                                        <li><a class="dropdown-item" href="index-3.html">Home - Variation 3</a></li>
                                                                        <li><a class="dropdown-item" href="index-4.html">Home - Variation 4</a></li>
                                                                        <li><a class="dropdown-item" href="index-5.html">Home - Variation 5</a></li>
                                                                        <li><a class="dropdown-item" href="index-6.html">Home - Variation 6</a></li>
                                                                        <li><a class="dropdown-item current" href="index-7.html">Home - Variation 7</a></li>
                                                                        <li><a class="dropdown-item" href="index-8.html">Home - Variation 8</a></li>
                                                                    </ul>
                                                                </div> -->
                                                                <!-- <div class="col-lg-3">
                                                                    <span class="dropdown-mega-sub-title">MULTI PURPOSE</span>
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="index-9.html">Home - Variation 9 </a></li>
                                                                        <li><a class="dropdown-item" href="index-10.html">Home - Variation 10 <span class="badge badge-warning badge-sm ml-1">Gap Outside</span></a></li>
                                                                    </ul>
                                                                    <span class="dropdown-mega-sub-title">Contact Us</span>
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="page/contact-us.html">Contact Us</a></li>
                                                                        <li><a class="dropdown-item" href="page/contact-us-2.html">Contact Us 2</a></li>
                                                                    </ul>
                                                                </div> -->
                                                                <!-- <div class="col-lg-3">
                                                                    <span class="dropdown-mega-sub-title">About</span>
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="page/about-us.html">About Us</a></li>
                                                                        <li><a class="dropdown-item" href="page/about-me.html">About Me</a></li>
                                                                        <li><a class="dropdown-item" href="page/team.html">Team</a></li>
                                                                        <li><a class="dropdown-item" href="page/careers.html">Careers</a></li>
                                                                    </ul>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">
                                                    Pages
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item font-weight-bold" href="page/features.html">Features</a></li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#">About Us</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="page/about-us.html">About Us</a></li>
                                                            <li><a class="dropdown-item" href="page/about-me.html">About Me</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#">Contact Us</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="page/contact-us.html">Contact Us</a></li>
                                                            <li><a class="dropdown-item" href="page/contact-us-2.html">Contact Us 2</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a class="dropdown-item" href="page/team.html">Team</a></li>
                                                    <li><a class="dropdown-item" href="page/services.html">Services</a></li>
                                                    <li><a class="dropdown-item" href="page/careers.html">Careers</a></li>
                                                    <li><a class="dropdown-item" href="page/job.html">Job Page</a></li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#">Account</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="page/login.html">Login</a></li>
                                                            <li><a class="dropdown-item" href="page/register.html">Register</a></li>
                                                            <li><a class="dropdown-item" href="page/password-recovery.html">Recovery</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a class="dropdown-item" href="page/help.html">Help Page</a></li>
                                                    <li><a class="dropdown-item" href="page/pricing.html">Pricing Page</a></li>
                                                    <li class="header-divider"></li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle font-weight-bold" href="#">Extra</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="page/faq.html">FAQ</a></li>
                                                            <li><a class="dropdown-item" href="#">404 Error</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">
                                                    Blog
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#"><i class="icon-link menu-icon"></i> Card</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="blog/card-left-sidebar.html">Left Sidebar</a></li>
                                                            <li><a class="dropdown-item" href="blog/card-right-sidebar.html">Right Sidebar</a></li>
                                                            <li><a class="dropdown-item" href="blog/card-full-width.html">Full Width</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#"><i class="icon-link menu-icon"></i> Grid</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="blog/grid-left-sidebar.html">Left Sidebar</a></li>
                                                            <li><a class="dropdown-item" href="blog/grid-right-sidebar.html">Right Sidebar</a></li>
                                                            <li><a class="dropdown-item" href="blog/grid-full-width.html">Full Width</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#"><i class="icon-link menu-icon"></i> List</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="blog/list-left-sidebar.html">Left Sidebar</a></li>
                                                            <li><a class="dropdown-item" href="blog/list-right-sidebar.html">Right Sidebar</a></li>
                                                            <li><a class="dropdown-item" href="blog/list-full-width.html">Full Width</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#"><i class="icon-link menu-icon"></i> Single</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="blog/single.html">Default</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">
                                                    Portfolio
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item font-weight-bold" href="portfolio/agency.html">Features</a></li>
                                                    <li class="header-divider"></li>
                                                    <li><a class="dropdown-item" href="portfolio/agency.html">Agency</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/awesome-work.html">Awesome Work</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/full-width.html">Full Width</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/juicy-projects.html">Juicy Projects</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/masonry.html">Masonry</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/masonry-projects.html">Masonry Projects</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/mosaic.html">Mosaic</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/mosaic-flat.html">Mosaic Flat</a></li>
                                                    <li><a class="dropdown-item" href="portfolio/mosaic-projects.html">Mosaic Projects</a></li>
                                                    <li class="header-divider"></li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle font-weight-bold" href="#">Single</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="portfolio/single.html">Single</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown dropdown-mega">
                                                <a class="dropdown-item dropdown-toggle" href="#">
                                                    UI Kit
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="dropdown-mega-content">
                                                            <div class="row">
                                                                <div class="col-lg-3 dropdown-mega-sub-content-block bg-primary d-none d-lg-block">
                                                                    <span class="top-sub-title text-white-50 d-block">THE MOST</span>
                                                                    <span class="text-white font-weight-bold d-block text-4 mb-2">POWERFUL</span>
                                                                    <p class="text-white-50">A revolutionary theme trusted by tons of customers</p>
                                                                    <a class="btn btn-light btn-sm" href="#">Get Started</a>
                                                                </div>
                                                                <div class="col-lg-3 ml-auto">
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="uikit/accordion.html"><i class="icon-list-1 menu-icon"></i> Accordion</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/alert.html"><i class="icon-list-1 menu-icon"></i> Alert</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/misc.html#badge"><i class="icon-list-1 menu-icon"></i> Badge</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/button.html"><i class="icon-list-1 menu-icon"></i> Button</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/card.html"><i class="icon-list-1 menu-icon"></i> Card</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/color.html"><i class="icon-list-1 menu-icon"></i> Color</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/countup.html"><i class="icon-list-1 menu-icon"></i> Countup</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/form.html"><i class="icon-list-1 menu-icon"></i> Form</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/gallery.html"><i class="icon-list-1 menu-icon"></i> Gallery</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="uikit/icon-box.html"><i class="icon-list-1 menu-icon"></i> Icon Box</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/icon-grid.html"><i class="icon-list-1 menu-icon"></i> Icon Grid</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/misc.html#lightbox"><i class="icon-list-1 menu-icon"></i> Lightbox</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/misc.html"><i class="icon-list-1 menu-icon"></i> Misc</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/misc.html#modal"><i class="icon-list-1 menu-icon"></i> Modal</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/overlay.html"><i class="icon-list-1 menu-icon"></i> Overlay</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/popup.html"><i class="icon-list-1 menu-icon"></i> Popup</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/divider.html"><i class="icon-list-1 menu-icon"></i> Oval Divider <span class="badge badge-primary">Hot</span></a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        <li><a class="dropdown-item" href="uikit/progress.html"><i class="icon-list-1 menu-icon"></i> Progress</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/slider.html"><i class="icon-list-1 menu-icon"></i> Slider</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/social-icons.html"><i class="icon-list-1 menu-icon"></i> Social Icons</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/table.html"><i class="icon-list-1 menu-icon"></i> Table</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/team.html"><i class="icon-list-1 menu-icon"></i> Team <span class="badge badge-primary">Unique</span> </a></li>
                                                                        <li><a class="dropdown-item" href="uikit/testimonial.html"><i class="icon-list-1 menu-icon"></i> Testimonial</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/typing.html"><i class="icon-list-1 menu-icon"></i> Typing</a></li>
                                                                        <li><a class="dropdown-item" href="uikit/video.html"><i class="icon-list-1 menu-icon"></i> Video</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">
                                                    Features
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="feature/blog.html">Blog</a></li>
                                                    <li><a class="dropdown-item" href="feature/footer.html">Footer</a></li>
                                                    <li><a class="dropdown-item" href="feature/header.html">Header</a></li>
                                                    <li><a class="dropdown-item" href="index-2-left-header.html">Header - Left Side <span class="badge badge-primary">New</span></a></li>
                                                    <li><a class="dropdown-item" href="feature/map.html">Map</a></li>
                                                    <li><a class="dropdown-item" href="feature/modal.html">Modal/Popup</a></li>
                                                    <li><a class="dropdown-item" href="feature/section.html">Section</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <a href="contact-us.html" class="btn btn-outline-primary btn-pill transition-hover btn-sm ml-3">Get In Touch</a>
                                <!--<ul class="header-social-icons social-icons d-none d-sm-block">
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>-->
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->

    <main id="content">

        <section class="section">

            <div id="svg_parent" class="col-lg-9 col-xl-7 d-none d-sm-block d-lg-block position-absolute top-0 right-0 pr-0">
                <figure class="ie-main-hero">
                    <img class="js-svg-injector" src="./../../../assets/img/svg/svg1.svg" alt="Image Description"
                         data-img-info='[{"targetId": "#svg_changing_id", "src": "./../../../assets/img/big/j1.jpg"}]'
                         data-parent="#svg_parent">
                </figure>
            </div>

            <div class="container overflow-visible z-index-10">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-6">
                        <div class="clearfix">
                            <h2 class="fs-40">
                                We Are <span class="text-primary">Vertex</span> <br />
                                Developer Qualty <br />
                                website.
                            </h2>
                            <p class="mt-3 mb-4 lead">I dewelopers website so clientcan focus on their <br />business  instead  of each side. </p>
                            <div class="clearfix mb-5">
                                <a href="#" class="btn btn-sleek-primary transition-hover pr-5 pl-5">
                                    Get Started
                                </a>
                                <span class="o-3 fs-15">or</span>
                                <a href="#" class="anim-link fs-15">
                                    view more<span class="fas fa-angle-right align-middle ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mnb-15">
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-6 mb-lg-0">
                        <div class="clearfix bg-white border transition-hover p-7 py-5 shadow">
                            <i class="clearfix icon-shopping-bag-3 fs-55 text-primary"></i>
                            <h3 class="h5 mb-3 mt-2">Provide financial advice <br> by our service</h3>
                            <p>
                                Navigation available in bootstrap share markup and styles.
                            </p>
                            <a href="#">Explore now <span class="fas fa-angle-right align-middle ml-2 fs-14"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-6 mb-lg-0">
                        <div class="clearfix bg-white border transition-hover p-7 py-5 shadow">
                            <i class="icon-dollar-currency-2 fs-55 text-primary"></i>
                            <h3 class="h5 mb-3 mt-2">Complate solution for <br>global organizations</h3>
                            <p>
                                Navigation in bootstrap share general markup and styles.
                            </p>
                            <a href="#">Explore now <span class="fas fa-angle-right align-middle ml-2 fs-14"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-6 mb-lg-0">
                        <div class="clearfix bg-white border transition-hover p-7 py-5 shadow">
                            <i class="icon-layers fs-55 text-primary"></i>
                            <h3 class="h5 mb-3 mt-2">Business monitoring &amp; <br>lead generation</h3>
                            <p>
                                Navigation available in general markup and styles.
                            </p>
                            <a href="#">Explore now <span class="fas fa-angle-right align-middle ml-2 fs-14"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oval-divider--bottom oval-divider--14"></div>
        </section>

        <section class="section m-gab-4-top">
            <div class="container">
                <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
                    <p class="text-primary">WHAT WE DO</p>
                    <h2>We Completed 1500+ Projects Yearly <br /> Succesfully & Counting</h2>
                </div>
                <div class="row justify-content-center pt-4">
                    <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0 border-right">
                        <!-- Stats -->
                        <div class="text-center">
                            <h2 class="display-4 text-primary" data-provide="countup" data-from="0" data-to="2000" data-suffix="+"></h2>
                            <p class="mb-0">Partners are <br /> in the Vertex network</p>
                        </div>
                        <!-- End Stats -->
                    </div>

                    <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0 border-right">
                        <!-- Stats -->
                        <div class="text-center">
                            <h2 class="display-4 text-primary" data-provide="countup" data-from="0" data-to="541" data-prefix="$"></h2>
                            <p class="mb-0">Community earnings <br /> per year </p>
                        </div>
                        <!-- End Stats -->
                    </div>

                    <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                        <!-- Stats -->
                        <div class="text-center">
                            <h2 class="display-4 text-primary" data-provide="countup" data-decimals="1" data-from="0" data-to="1.9" data-suffix="M+"></h2>
                            <p class="mb-0">Developers <br />in our community</p>
                        </div>
                    </div>
                </div>
                <!-- End Stats -->
            </div>
        </section>

        <section class="section">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="svgbg-1">
                                    <div class="gradient-border-1">
                                        <img src="./../../../assets/img/bx1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pt-6" data-provide="slider" data-slides-to-show="1" data-slides-to-scroll="1" data-dots="true">
                                    <div>
                                        <div class="card border-0">
                                            <i class="fa fa-quote-left text-primary fs-40 mb-3"></i>
                                            <blockquote class="fs-28">
                                                This is the most robust template I've ever worked with. So much can be done with this
                                                multi-purpose package. Regular updates and enhancements value.
                                            </blockquote>
                                            <div class="d-flex align-items-center pt-3">
                                                <div class="avatar">
                                                    <img class="img-fluid rounded-circle" src="./../../../assets/img/avatar/avatar2.jpg" alt="Image Description">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="fs-18 mb-0">Peter Parker</h4>
                                                    <small class="o-7">Systems Architect at Google</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="card border-0">
                                            <i class="fa fa-quote-left text-primary fs-40 mb-3"></i>
                                            <blockquote class="fs-28">
                                                The template is really nice and offers quite a
                                                large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!
                                            </blockquote>
                                            <div class="d-flex align-items-center pt-3">
                                                <div class="avatar">
                                                    <img class="img-fluid rounded-circle" src="./../../../assets/img/avatar/avatar1.jpg" alt="Image Description">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="fs-18 mb-0">Jessica Jones</h4>
                                                    <small class="o-7">Developer at Google</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row mb-8 align-items-center text-center text-lg-left">
                    <div class="col-lg-10">
                        <p class="text-primary">OUR WORKS</p>
                        <h2>
                            Check Some Of Our <br />
                            Recent Works.
                        </h2>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" class="btn btn-sleek-primary btn-sm transition-hover mt-6">See All Works <span class="fa fa-angle-right ml-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 p-0">

                        <div class="cbp"
                             data-layout-mode="grid"
                             data-animation-type='slideLeft'
                             data-caption='zoom'
                             data-display-type='fadeIn'
                             data-display-type-speed="100"
                             data-gap-horizontal='0'
                             data-gap-vertical='30'
                             data-media-queries='[
                            {"width": 1500, "cols": 4},
                            {"width": 1100, "cols": 4},
                            {"width": 800, "cols": 3},
                            {"width": 480, "cols": 2},
                            {"width": 300, "cols": 1}
                          ]'>
                            <div class="cbp-item mockup">
                                <a href="#" target="_blank">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="./../../../assets/img/work/p1.jpg" data-cbp-src="./../../../assets/img/work/p1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-agency-title">Coffee Pack</div>
                                    <div class="cbp-l-grid-agency-desc">Mockup</div>
                                </a>
                            </div>
                            <div class="cbp-item concept">
                                <a href="#" target="_blank">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="./../../../assets/img/work/p4.jpg" data-cbp-src="./../../../assets/img/work/p4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-agency-title">Tea Concept</div>
                                    <div class="cbp-l-grid-agency-desc">Concept</div>
                                </a>
                            </div>
                            <div class="cbp-item design">
                                <a href="#" target="_blank">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="./../../../assets/img/work/p2.jpg" data-cbp-src="./../../../assets/img/work/p2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-agency-title">Bottle Design</div>
                                    <div class="cbp-l-grid-agency-desc">Design</div>
                                </a>
                            </div>
                            <div class="cbp-item design">
                                <a href="#" target="_blank">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="./../../../assets/img/work/p3.jpg" data-cbp-src="./../../../assets/img/work/p3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-agency-title">Bright Side</div>
                                    <div class="cbp-l-grid-agency-desc">Design</div>
                                </a>
                            </div>
                            <!--<div class="oval-divider--top oval-divider--5"></div>
                            <div class="oval-divider--bottom oval-divider--5"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
                    <p class="text-primary">PRICING PLAN</p>
                    <h2> No hidden Charges. Check <br /> our package</h2>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pricing pricing--pema">
                            <div class="pricing-item border-bottom border-top border-left">
                                <div class="pr-6 pl-6 pb-4 pt-5 bg-light-1 border-bottom">
                                    <h3 class="pricing-title">Monthly Package</h3>
                                    <div class="pricing-price text-success">
                                        <span class="pricing-currency">$</span>
                                        <span class="pricing-main" data-bind-radio="pricing" data-monthly="79" data-yearly="99">79</span>
                                        <span class="pricing-period text-success">/ Month</span>
                                    </div>
                                </div>
                                <div class="p-6">
                                    <p class="pricing-sentence">For large companies</p>
                                    <ul class="pricing-feature-list">
                                        <li class="m-list--link">- Unlimited presentations</li>
                                        <li class="m-list--link">- 5 hours of <span class="m-link-muted">free support</span> </li>
                                        <li class="m-list--link">- Unlimited support</li>
                                        <li class="m-list--link">- Unlimited <span class="m-link-muted">campaigns</span></li>
                                    </ul>
                                    <button class="btn btn-outline-success btn-block btn-sm border-w-2">Request Package</button>
                                </div>
                            </div>
                            <div class="pricing-item pricing-item--featured border border-primary">
                                <div class="pr-6 pl-6 pb-4 pt-5 bg-light-1 border-bottom">
                                    <h3 class="pricing-title">Weekly Package</h3>
                                    <div class="pricing-price text-primary">
                                        <span class="pricing-currency">$</span>
                                        <span class="pricing-main" data-bind-radio="pricing" data-monthly="29" data-yearly="39">29</span>
                                        <span class="pricing-period text-primary">/ Week</span>
                                    </div>
                                </div>
                                <div class="p-6">
                                    <p class="pricing-sentence">For medium sized teams</p>
                                    <ul class="pricing-feature-list">
                                        <li class="m-list--link">- 50 presentations/month</li>
                                        <li class="m-list--link">
                                            - 5 hours of <span class="m-link-muted">free support</span>
                                            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="To assist you in the ordering process, we've compiled a list of purchase and licensing related FAQs."></i>
                                        </li>
                                        <li class="m-list--link">
                                            - 10 campaigns/month <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="To assist you in the ordering process, we've compiled a list of purchase and licensing related FAQs."></i>
                                        </li>
                                        <li class="m-list--link">
                                            - Mirror website
                                            <span class="m-link-muted" data-toggle="tooltip" data-placement="top" title="To assist you in the ordering process, we've compiled a list of purchase and licensing related FAQs.">
                                                adjustmant
                                            </span>
                                        </li>
                                    </ul>
                                    <button class="btn btn-outline-primary btn-block btn-sm border-w-2">Request Package</button>
                                </div>
                            </div>
                            <div class="pricing-item border-bottom border-top border-right">
                                <div class="pr-6 pl-6 pb-4 pt-5 bg-light-1 border-bottom">
                                    <h3 class="pricing-title">Monthly Package</h3>
                                    <div class="pricing-price text-warning">
                                        <span class="pricing-currency">$</span>
                                        <span class="pricing-main" data-bind-radio="pricing" data-monthly="79" data-yearly="99">79</span>
                                        <span class="pricing-period text-warning">/ Month</span>
                                    </div>
                                </div>
                                <div class="p-6">
                                    <p class="pricing-sentence">For large companies</p>
                                    <ul class="pricing-feature-list">
                                        <li class="m-list--link">- Unlimited presentations</li>
                                        <li class="m-list--link">- 5 hours of <span class="m-link-muted">free support</span> </li>
                                        <li class="m-list--link">- Unlimited support</li>
                                        <li class="m-list--link">- Unlimited <span class="m-link-muted">campaigns</span></li>
                                    </ul>
                                    <button class="btn btn-outline-warning btn-block btn-sm border-w-2">Request Package</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section bg-light">
            <div class="container">
                <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
                    <p class="text-primary">OUR BLOG</p>
                    <h2> Our Company News</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div data-provide="slider" data-slides-to-show="3" data-slides-to-scroll="3" data-dots="true">
                            <div class="p-3">
                                <div class="card border-0 shadow-1 h-385">
                                    <div class="card-body bg-white p-5">
                                        <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                        <h2 class="h5 mb-2">
                                            <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">The Great Divide</a>
                                        </h2>
                                        <p>Master is the innovation platform for business..</p>
                                    </div>
                                    <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                        <div class="media align-items-center">
                                            <div class="avatar-sm mr-3">
                                                <img class="img-fluid rounded-circle" src="./../../../assets/img/avatar/avatar2.jpg" alt="Image Description">
                                            </div>
                                            <div class="media-body fs-14">
                                                <div class="text-light">
                                                    Author
                                                </div>
                                                <div>
                                                    <a href="blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Peter Parker</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-tags mt-4 mb-3">
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="card border-0 shadow-1 h-385">
                                    <div class="card-body bg-white p-5">
                                        <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                        <h2 class="h5 mb-2">
                                            <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">New ES2018 Features Every JavaScript Developer Should Know</a>
                                        </h2>
                                        <p class="mb-0">Master is the for business..</p>
                                    </div>
                                    <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                        <div class="media align-items-center">
                                            <div class="avatar-sm mr-3">
                                                <img class="img-fluid rounded-circle" src="./../../../assets/img/avatar/avatar1.jpg" alt="Image Description">
                                            </div>
                                            <div class="media-body fs-14">
                                                <div class="text-light">
                                                    Author
                                                </div>
                                                <div>
                                                    <a href="blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Jessica Jones</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-tags mt-4 mb-3">
                                            <a href="#" rel="tag" class="label label--sm label--secondary">front-end developer</a>
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="card border-0 shadow-1 h-385">
                                    <div class="card-body bg-white p-5">
                                        <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                        <h2 class="h5 mb-2">
                                            <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">Internet advertising what went wrong.</a>
                                        </h2>
                                        <p>Master is the innovation platform for business..</p>
                                    </div>
                                    <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                        <div class="media align-items-center">
                                            <div class="avatar-sm mr-3">
                                                <img class="img-fluid rounded-circle" src="./../../../assets/img/avatar/avatar3.jpg" alt="Image Description">
                                            </div>
                                            <div class="media-body fs-14">
                                                <div class="text-light">
                                                    Author
                                                </div>
                                                <div>
                                                    <a href="blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Wade Wilson</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-tags mt-4 mb-3">
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="card border-0 shadow-1 h-385">
                                    <div class="card-body bg-white p-5">
                                        <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                        <h2 class="h5 mb-2">
                                            <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">Internet advertising what went wrong.</a>
                                        </h2>
                                        <p>Master is the innovation platform for business..</p>
                                    </div>
                                    <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                        <div class="media align-items-center">
                                            <div class="avatar-sm mr-3">
                                                <img class="img-fluid rounded-circle" src="./../../../assets/img/avatar/avatar3.jpg" alt="Image Description">
                                            </div>
                                            <div class="media-body fs-14">
                                                <div class="text-light">
                                                    Author
                                                </div>
                                                <div>
                                                    <a href="blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Wade Wilson</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-tags mt-4 mb-3">
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                                            <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center mt-5">
                        <p>Interested in more ? <a class="text-primary border-bottom anim-link" href="#">Keep Reading</a> </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--Footer-Wrap-->
    <footer class="border-top border-bottom">
        <div class="container m-gab-2">
            <div class="row">
                <div class="col-sm-5 mb-5 mb-lg-0">
                    <img alt="Vertex" src="./../../../assets/img/logo.png" class="mb-4" width="150">
                    <p class="fs-20">
                        <span class="m-link">Master</span> is the innovation platform <br>
                        for business. And cats.
                    </p>
                    <span class="fs-12">Follow us on</span>
                    <a href="#" class="primary-color fs-12">Facebook</a>,
                    <a href="#" class="primary-color fs-12">LinkIn</a>,
                    <a href="#" class="primary-color fs-12">Twitter</a>,
                    <a href="#" class="primary-color fs-12">Instagram</a>
                </div>
                <div class="col-sm-3 mb-5 mb-lg-0">
                    <h3 class="h6">
                        <strong>Solutions</strong>
                    </h3>
                    <ul class="list-unstyled mb-0">
                        <li><a class="m-list--link" href="#">Master Management</a></li>
                        <li><a class="m-list--link" href="#">Continues Implamanted</a></li>
                        <li><a class="m-list--link" href="#">Employee Engagement</a> </li>
                        <li><a class="m-list--link" href="#">Change Management</a> </li>
                        <li><a class="m-list--link" href="#">View more...</a> </li>
                    </ul>
                </div>
                <div class="col-sm-2 mb-5 mb-lg-0">
                    <h3 class="h6">
                        <strong>Product</strong>
                    </h3>
                    <ul class="list-unstyled mb-0">
                        <li><a class="m-list--link" href="#">Why Master</a></li>
                        <li><a class="m-list--link" href="#">Sign up Free</a></li>
                        <li><a class="m-list--link" href="#">Get a Demo</a> </li>
                        <li><a class="m-list--link" href="#">Features</a> </li>
                        <li><a class="m-list--link" href="#">Pricing</a> </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3 class="h6">
                        <strong>Customers</strong>
                    </h3>
                    <ul class="list-unstyled mb-0">
                        <li><a class="m-list--link" href="#">Getting Started Guide</a></li>
                        <li><a class="m-list--link" href="#">Customer Success</a></li>
                        <li><a class="m-list--link" href="#">Wall of Love</a> </li>
                        <li><a class="m-list--link" href="#">Help Center</a> </li>
                        <li><a class="m-list--link" href="#">Partners</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="mt-0 mb-1">

        <!-- Copyright -->
        <div class="container m-gab-1">
            <div class="row">
                <div class="col-md-5">
                    <ul class="list-inline mb-0 text-center text-lg-left">
                        <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-chat-1 fs-17 text-primary mr-1"></i> Chat </a></li>
                        <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-camera-landscape fs-17 text-primary mr-1"></i> English </a></li>
                        <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-headphone fs-17 text-primary mr-1"></i> +45 3212 5680 </a></li>
                    </ul>
                </div>
                <div class="col-md-2 center">
                    <img src="./../../../assets/img/logo.png" class="center my-2 my-lg-0" width="80">
                </div>
                <div class="col-md-5">
                    <ul class="list-inline mb-0 text-center text-lg-right">
                        <li class="list-inline-item"><a class="m-list--link" href="#">© Master 2018</a></li>
                        <li class="list-inline-item"><a class="m-list--link" href="#">Blog</a></li>
                        <li class="list-inline-item"><a class="m-list--link" href="#">Privacy</a></li>
                        <li class="list-inline-item"><a class="m-list--link" href="#">Terms</a></li>
                        <li class="list-inline-item"><a class="m-list--link" href="#">Securty</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>
    <!--End Footer-Wrap-->
</div>
