<div class="home">

    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-data">
            <div class="logo">
              <a href="index.html" title=""><img src="./../../../assets/images/logo.png" alt=""></a>
            </div><!--logo end-->
            <div class="search-bar">
              <form>
                <input type="text" name="search" placeholder="Search...">
                <button type="submit"><i class="la la-search"></i></button>
              </form>
            </div><!--search-bar end-->
            <nav>
              <ul>
                <li>
                  <a href="index.html" title="">
                    <span><img src="./../../../assets/images/icon1.png" alt=""></span>
                    Home
                  </a>
                </li>
                <li>
                  <a href="index.html" title="">
                    <span><img src="./../../../assets/images/icon1.png" alt=""></span>
                  take a test
                  </a>
                </li>
                <li>
                  <a href="#" title="" class="not-box-open">
                    <span><img src="./../../../assets/images/icon7.png" alt=""></span>
                   admin
                  </a>
                  <div class="notification-box">
                    <div class="nt-title">
                      <h4>Setting</h4>
                      <a href="#" title="">Clear all</a>
                    </div>
                    <div class="nott-list">
                      <div class="notfication-details">
                          <div class="noty-user-img">
                            <img src="./../../../assets/images/resources/ny-img1.png" alt="">
                          </div>
                          <div class="notification-info">
                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                            <span>2 min ago</span>
                          </div><!--notification-info -->
                        </div>
                        <div class="notfication-details">
                          <div class="noty-user-img">
                            <img src="./../../../assets/images/resources/ny-img2.png" alt="">
                          </div>
                          <div class="notification-info">
                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                            <span>2 min ago</span>
                          </div><!--notification-info -->
                        </div>
                           <div class="notfication-details">
                          <div class="noty-user-img">
                            <img src="./../../../assets/images/resources/ny-img3.png" alt="">
                          </div>
                          <div class="notification-info">
                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                            <span>2 min ago</span>
                          </div><!--notification-info -->
                        </div>
                        <div class="notfication-details">
                          <div class="noty-user-img">
                            <img src="./../../../assets/images/resources/ny-img2.png" alt="">
                          </div>
                          <div class="notification-info">
                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                            <span>2 min ago</span>
                          </div><!--notification-info -->
                        </div>
                        <div class="view-all-nots">
                          <a href="#" title="">View All Notification</a>
                        </div>
                    </div><!--nott-list end-->
                  </div><!--notification-box end-->
                </li>
              </ul>
            </nav><!--nav end-->
            <div class="menu-btn">
              <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div><!--menu-btn end-->
            <div class="user-account">
              <div class="user-info">
                <img src="./../../../assets/images/resources/user.png" alt="">
                <a href="#" title="">John</a>
                <i class="la la-sort-down"></i>
              </div>
              <div class="user-account-settingss">
                <h3>Online Status</h3>
                <ul class="on-off-status">
                  <li>
                    <div class="fgt-sec">
                      <input type="radio" name="cc" id="c5">
                      <label for="c5">
                        <span></span>
                      </label>
                      <small>Online</small>
                    </div>
                  </li>
                  <li>
                    <div class="fgt-sec">
                      <input type="radio" name="cc" id="c6">
                      <label for="c6">
                        <span></span>
                      </label>
                      <small>Offline</small>
                    </div>
                  </li>
                </ul>
                <h3>Custom Status</h3>
                <div class="search_form">
                  <form>
                    <input type="text" name="search">
                    <button type="submit">Ok</button>
                  </form>
                </div><!--search_form end-->
                <h3>Setting</h3>
                <ul class="us-links">
                  <li><a href="profile-account-setting.html" title="">Account Setting</a></li>
                  <li><a href="#" title="">Privacy</a></li>
                  <li><a href="#" title="">Faqs</a></li>
                  <li><a href="#" title="">Terms & Conditions</a></li>
                </ul>
                <h3 class="tc"><a href="#" title="">Logout</a></h3>
              </div><!--user-account-settingss end-->
            </div>
          </div><!--header-data end-->
        </div>
      </header><!--header end-->


        <div class="main-section">
          <div class="container">
            <div class="main-section-data">
              <div class="row">
                <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                  <div class="main-left-sidebar no-margin">
                    <div class="user-data full-width">
                      <div class="user-profile">
                        <div class="username-dt">
                          <div class="usr-pic">
                            <img src="./../../../assets/images/resources/user-pic.png" alt="">
                          </div>
                        </div><!--username-dt end-->
                        <div class="user-specs">
                          <h3>Hummingbird</h3>
                          <span>Programmer</span>
                        </div>
                      </div><!--user-profile end-->
                      <ul class="user-fw-status">
                        <!-- <li>
                          <h4>Following</h4>
                          <span>34</span>
                        </li> -->
                        <!-- <li>
                          <h4>Followers</h4>
                          <span>155</span>
                        </li> -->
                        <li>
                          <a href="#" title="">View Profile</a>
                        </li>
                      </ul>
                    </div><!--user-data end-->
                    <div class="suggestions full-width">
                      <div class="sd-title">
                        <h3>Top Scorers</h3>
                        <i class="la la-ellipsis-v"></i>
                      </div><!--sd-title end-->
                      <div class="suggestions-list">
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s1.png" alt="">
                          <div class="sgt-text">
                            <h4>Jessica William</h4>
                            <span>T.I.AMASS</span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s2.png" alt="">
                          <div class="sgt-text">
                            <h4>Eilphelet Asare</h4>
                            <span> Pope John Senior High School </span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s2.png" alt="">
                          <div class="sgt-text">
                            <h4>John Gyasi Appiah</h4>
                            <span> Presbyterian Boys </span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s3.png" alt="">
                          <div class="sgt-text">
                            <h4>Nadia Mohammed</h4>
                            <span>Achimota School</span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s4.png" alt="">
                          <div class="sgt-text">
                            <h4>Rafiq Ussiph</h4>
                            <span>Mfantsipim Senior High School </span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s5.png" alt="">
                          <div class="sgt-text">
                            <h4>Adusei Frimpomaa</h4>
                            <span>Holy Child</span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="./../../../assets/images/resources/s6.png" alt="">
                          <div class="sgt-text">
                            <h4>Issah Abdul Jalil </h4>
                            <span>Opoku Ware Senior High School</span>
                          </div>
                          <span><i class="la la-plus"></i></span>
                        </div>
                        <div class="view-more">
                          <a href="#" title="">View More</a>
                        </div>
                      </div><!--suggestions-list end-->
                    </div><!--suggestions end-->
                    <!-- <div class="tags-sec full-width"> -->
                      <!-- <ul>
                        <li><a href="#" title="">Help Center</a></li>
                        <li><a href="#" title="">About</a></li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Community Guidelines</a></li>
                        <li><a href="#" title="">Cookies Policy</a></li>
                        <li><a href="#" title="">Career</a></li>
                        <li><a href="#" title="">Language</a></li>
                        <li><a href="#" title="">Copyright Policy</a></li>
                      </ul> -->
                      <!-- <div class="cp-sec">
                        <img src="./../../../assets/images/logo2.png" alt="">
                        <p><img src="./../../../assets/images/cp.png" alt="">Copyright 2017</p>
                      </div>
                    <!-- </div><!--tags-sec end-->
                  </div><!--main-left-sidebar end-->
                </div>
                <div class="col-lg-6 col-md-8 no-pd">
                  <div class="main-ws-sec">
                    <div class="post-topbar">
                      <div class="user-picy">
                        <img src="./../../../assets/images/resources/user-pic.png" alt="">
                      </div>
                      <div class="post-st">
                        <ul>
                          <li><a class="post_project" href="#" title="">Take a text</a></li>
                          <!-- <li><a class="post-jb active" href="#" title="">Answer</a></li> -->
                        </ul>
                      </div><!--post-st end-->
                    </div><!--post-topbar end-->
                    <div class="posts-section">
                      <div class="post-bar">
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <img src="./../../../assets/images/resources/us-pic.png" alt="">
                            <div class="usy-name">
                              <h3>Abdul Ganiyu</h3>
                              <span><img src="./../../../assets/images/clock.png" alt="">1 min ago</span>
                            </div>
                          </div>
                          <div class="ed-opts">
                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                            <ul class="ed-options">
                              <li><a href="#" title="">Edit Post</a></li>
                              <li><a href="#" title="">Unsaved</a></li>
                              <li><a href="#" title="">Unbid</a></li>
                              <li><a href="#" title="">Close</a></li>
                              <li><a href="#" title="">Hide</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="epi-sec">
                          <ul class="descp">
                            <li><img src="./../../../assets/images/icon8.png" alt=""><span>Kumasi</span></li>
                            <li><img src="./../../../assets/images/icon9.png" alt=""><span>Ghana</span></li>
                          </ul>
                          <ul class="bk-links">
                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                          </ul>
                        </div>
                        <div class="job_descp">
                          <h3>General Knowledge</h3>
                          <ul class="job-dt">
                            <li><a href="#" title="">Full Time</a></li>
                            <li><span>30sec / hr</span></li>
                          </ul>
                          <p>Who is the president of Ghana?</p>
                          <ul class="skill-tags">
                            <li><a href="#" title="">Nana Akufo-Addo</a></li>
                            <li><a href="#" title="">John Dramani Mahama</a></li>
                            <li><a href="#" title="">Mahamudu Bawumia</a></li>
                            <li><a href="#" title="">view more</a></li>
                            <!-- <li><a href="#" title="">Javascript</a></li>
                            <li><a href="#" title="">Wordpress</a></li> -->
                          </ul>
                        </div>
                        <div class="job-status-bar">
                          <ul class="like-com">
                            <li>
                              <a href="#"><i class="la la-heart"></i> Like</a>
                              <img src="./../../../assets/images/liked-img.png" alt="">
                              <span>25</span>
                            </li>
                            <li><a href="#" title="" class="com"><img src="./../../../assets/images/com.png" alt=""> Comment 15</a></li>
                          </ul>
                          <a><i class="la la-eye"></i>Views 50</a>
                        </div>
                      </div><!--post-bar end-->
                      <div class="top-profiles">
                        <div class="pf-hd">
                          <h3>More Question</h3>
                          <i class="la la-ellipsis-v"></i>
                        </div>
                        <div class="profiles-slider">
                          <div class="user-profy">
                            <img src="./../../../assets/images/resources/user1.png" alt="">
                            <h3>John Doe</h3>
                            <span>Graphic Designer</span>
                            <ul>
                              <li><a href="#" title="" class="followw">Follow</a></li>
                              <li><a href="#" title="" class="envlp"><img src="./../../../assets/images/envelop.png" alt=""></a></li>
                              <li><a href="#" title="" class="hire">hire</a></li>
                            </ul>
                            <a href="#" title="">View Profile</a>
                          </div><!--user-profy end-->
                          <div class="user-profy">
                            <img src="./../../../assets/images/resources/user2.png" alt="">
                            <h3>John Doe</h3>
                            <span>Graphic Designer</span>
                            <ul>
                              <li><a href="#" title="" class="followw">Follow</a></li>
                              <li><a href="#" title="" class="envlp"><img src="./../../../assets/images/envelop.png" alt=""></a></li>
                              <li><a href="#" title="" class="hire">hire</a></li>
                            </ul>
                            <a href="#" title="">View Profile</a>
                          </div><!--user-profy end-->
                          <div class="user-profy">
                            <img src="./../../../assets/images/resources/user3.png" alt="">
                            <h3>John Doe</h3>
                            <span>Graphic Designer</span>
                            <ul>
                              <li><a href="#" title="" class="followw">Follow</a></li>
                              <li><a href="#" title="" class="envlp"><img src="./../../../assets/images/envelop.png" alt=""></a></li>
                              <li><a href="#" title="" class="hire">hire</a></li>
                            </ul>
                            <a href="#" title="">View Profile</a>
                          </div><!--user-profy end-->
                          <div class="user-profy">
                            <img src="./../../../assets/images/resources/user1.png" alt="">
                            <h3>John Doe</h3>
                            <span>Graphic Designer</span>
                            <ul>
                              <li><a href="#" title="" class="followw">Follow</a></li>
                              <li><a href="#" title="" class="envlp"><img src="./../../../assets/images/envelop.png" alt=""></a></li>
                              <li><a href="#" title="" class="hire">hire</a></li>
                            </ul>
                            <a href="#" title="">View Profile</a>
                          </div><!--user-profy end-->
                          <div class="user-profy">
                            <img src="./../../../assets/images/resources/user2.png" alt="">
                            <h3>John Doe</h3>
                            <span>Graphic Designer</span>
                            <ul>
                              <li><a href="#" title="" class="followw">Follow</a></li>
                              <li><a href="#" title="" class="envlp"><img src="./../../../assets/images/envelop.png" alt=""></a></li>
                              <li><a href="#" title="" class="hire">hire</a></li>
                            </ul>
                            <a href="#" title="">View Profile</a>
                          </div><!--user-profy end-->
                          <div class="user-profy">
                            <img src="./../../../assets/images/resources/user3.png" alt="">
                            <h3>John Doe</h3>
                            <span>Graphic Designer</span>
                            <ul>
                              <li><a href="#" title="" class="followw">Follow</a></li>
                              <li><a href="#" title="" class="envlp"><img src="./../../../assets/images/envelop.png" alt=""></a></li>
                              <li><a href="#" title="" class="hire">hire</a></li>
                            </ul>
                            <a href="#" title="">View Profile</a>
                          </div><!--user-profy end-->
                        </div><!--profiles-slider end-->
                      </div><!--top-profiles end-->
                      <div class="post-bar">
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <img src="./../../../assets/images/resources/us-pic.png" alt="">
                            <div class="usy-name">
                              <h3>John Doe</h3>
                              <span><img src="./../../../assets/images/clock.png" alt="">3 min ago</span>
                            </div>
                          </div>
                          <div class="ed-opts">
                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                            <ul class="ed-options">
                              <li><a href="#" title="">Edit Post</a></li>
                              <li><a href="#" title="">Unsaved</a></li>
                              <li><a href="#" title="">Unbid</a></li>
                              <li><a href="#" title="">Close</a></li>
                              <li><a href="#" title="">Hide</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="epi-sec">
                          <ul class="descp">
                            <li><img src="./../../../assets/images/icon8.png" alt=""><span>Epic Coder</span></li>
                            <li><img src="./../../../assets/images/icon9.png" alt=""><span>India</span></li>
                          </ul>
                          <ul class="bk-links">
                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                            <li><a href="#" title="" class="bid_now">Bid Now</a></li>
                          </ul>
                        </div>
                        <div class="job_descp">
                          <h3>Senior Wordpress Developer</h3>
                          <ul class="job-dt">
                            <li><a href="#" title="">Full Time</a></li>
                            <li><span>$30 / hr</span></li>
                          </ul>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                          <ul class="skill-tags">
                            <li><a href="#" title="">HTML</a></li>
                            <li><a href="#" title="">PHP</a></li>
                            <li><a href="#" title="">CSS</a></li>
                            <li><a href="#" title="">Javascript</a></li>
                            <li><a href="#" title="">Wordpress</a></li>
                          </ul>
                        </div>
                        <div class="job-status-bar">
                          <ul class="like-com">
                            <li>
                              <a href="#"><i class="la la-heart"></i> Like</a>
                              <img src="./../../../assets/images/liked-img.png" alt="">
                              <span>25</span>
                            </li>
                            <li><a href="#" title="" class="com"><img src="./../../../assets/images/com.png" alt=""> Comment 15</a></li>
                          </ul>
                          <a><i class="la la-eye"></i>Views 50</a>
                        </div>
                      </div><!--post-bar end-->
                      <div class="posty">
                        <div class="post-bar no-margin">
                          <div class="post_topbar">
                            <div class="usy-dt">
                              <img src="./../../../assets/images/resources/us-pc2.png" alt="">
                              <div class="usy-name">
                                <h3>John Doe</h3>
                                <span><img src="./../../../assets/images/clock.png" alt="">3 min ago</span>
                              </div>
                            </div>
                            <div class="ed-opts">
                              <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                              <ul class="ed-options">
                                <li><a href="#" title="">Edit Post</a></li>
                                <li><a href="#" title="">Unsaved</a></li>
                                <li><a href="#" title="">Unbid</a></li>
                                <li><a href="#" title="">Close</a></li>
                                <li><a href="#" title="">Hide</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="epi-sec">
                            <ul class="descp">
                              <li><img src="./../../../assets/images/icon8.png" alt=""><span>Epic Coder</span></li>
                              <li><img src="./../../../assets/images/icon9.png" alt=""><span>India</span></li>
                            </ul>
                            <ul class="bk-links">
                              <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                              <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                            </ul>
                          </div>
                          <div class="job_descp">
                            <h3>Senior Wordpress Developer</h3>
                            <ul class="job-dt">
                              <li><a href="#" title="">Full Time</a></li>
                              <li><span>$30 / hr</span></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                            <ul class="skill-tags">
                              <li><a href="#" title="">HTML</a></li>
                              <li><a href="#" title="">PHP</a></li>
                              <li><a href="#" title="">CSS</a></li>
                              <li><a href="#" title="">Javascript</a></li>
                              <li><a href="#" title="">Wordpress</a></li>
                            </ul>
                          </div>
                          <div class="job-status-bar">
                            <ul class="like-com">
                              <li>
                                <a href="#"><i class="la la-heart"></i> Like</a>
                                <img src="./../../../assets/images/liked-img.png" alt="">
                                <span>25</span>
                              </li>
                              <li><a href="#" title="" class="com"><img src="./../../../assets/images/com.png" alt=""> Comment 15</a></li>
                            </ul>
                            <a><i class="la la-eye"></i>Views 50</a>
                          </div>
                        </div><!--post-bar end-->
                        <div class="comment-section">
                          <div class="plus-ic">
                            <i class="la la-plus"></i>
                          </div>
                          <div class="comment-sec">
                            <ul>
                              <li>
                                <div class="comment-list">
                                  <div class="bg-img">
                                    <img src="./../../../assets/images/resources/bg-img1.png" alt="">
                                  </div>
                                  <div class="comment">
                                    <h3>John Doe</h3>
                                    <span><img src="./../../../assets/images/clock.png" alt=""> 3 min ago</span>
                                    <p>Lorem ipsum dolor sit amet, </p>
                                    <a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
                                  </div>
                                </div><!--comment-list end-->
                                <ul>
                                  <li>
                                    <div class="comment-list">
                                      <div class="bg-img">
                                        <img src="./../../../assets/images/resources/bg-img2.png" alt="">
                                      </div>
                                      <div class="comment">
                                        <h3>John Doe</h3>
                                        <span><img src="./../../../assets/images/clock.png" alt=""> 3 min ago</span>
                                        <p>Hi John </p>
                                        <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>
                                      </div>
                                    </div><!--comment-list end-->
                                  </li>
                                </ul>
                              </li>
                              <li>
                                <div class="comment-list">
                                  <div class="bg-img">
                                    <img src="./../../../assets/images/resources/bg-img3.png" alt="">
                                  </div>
                                  <div class="comment">
                                    <h3>John Doe</h3>
                                    <span><img src="./../../../assets/images/clock.png" alt=""> 3 min ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at.</p>
                                    <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>
                                  </div>
                                </div><!--comment-list end-->
                              </li>
                            </ul>
                          </div><!--comment-sec end-->
                          <div class="post-comment">
                            <div class="cm_img">
                              <img src="./../../../assets/images/resources/bg-img4.png" alt="">
                            </div>
                            <div class="comment_box">
                              <form>
                                <input type="text" placeholder="Post a comment">
                                <button type="submit">Send</button>
                              </form>
                            </div>
                          </div><!--post-comment end-->
                        </div><!--comment-section end-->
                      </div><!--posty end-->
                      <div class="process-comm">
                        <a href="#" title=""><img src="./../../../assets/images/process-icon.png" alt=""></a>
                      </div><!--process-comm end-->
                    </div><!--posts-section end-->
                  </div><!--main-ws-sec end-->
                </div>
                <div class="col-lg-3 pd-right-none no-pd">
                  <div class="right-sidebar">
                    <div class="widget widget-about">
                      <img src="./../../../assets/images/wd-logo.png" alt="">
                      <h3>Student Arena</h3>
                      <span>If education is the LOCK,we hold the KEY</span>
                      <!-- <div class="sign_link">
                        <h3><a href="#" title="">Sign up</a></h3>
                        <a href="#" title="">Learn More</a>
                      </div> -->
                    </div><!--widget-about end-->


                  </div><!--right-sidebar end-->
                </div>
              </div>
            </div><!-- main-section-data end-->
          </div>
        </div>

      <div class="post-popup pst-pj">
        <div class="post-project">
          <h3>Post a project</h3>
          <div class="post-project-fields">
            <form>
              <div class="row">
                <div class="col-lg-12">
                  <input type="text" name="title" placeholder="Title">
                </div>
                <div class="col-lg-12">
                  <div class="inp-field">
                    <select>
                      <option>Category</option>
                      <option>Category 1</option>
                      <option>Category 2</option>
                      <option>Category 3</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <input type="text" name="skills" placeholder="Skills">
                </div>
                <div class="col-lg-12">
                  <div class="price-sec">
                    <div class="price-br">
                      <input type="text" name="price1" placeholder="Price">
                      <i class="la la-dollar"></i>
                    </div>
                    <span>To</span>
                    <div class="price-br">
                      <input type="text" name="price1" placeholder="Price">
                      <i class="la la-dollar"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <textarea name="description" placeholder="Description"></textarea>
                </div>
                <div class="col-lg-12">
                  <ul>
                    <li><button class="active" type="submit" value="post">Post</button></li>
                    <li><a href="#" title="">Cancel</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div><!--post-project-fields end-->
          <a href="#" title=""><i class="la la-times-circle-o"></i></a>
        </div><!--post-project end-->
      </div><!--post-project-popup end-->

      <div class="post-popup job_post">
        <div class="post-project">
          <h3>Post a job</h3>
          <div class="post-project-fields">
            <form>
              <div class="row">
                <div class="col-lg-12">
                  <input type="text" name="title" placeholder="Title">
                </div>
                <div class="col-lg-12">
                  <div class="inp-field">
                    <select>
                      <option>Category</option>
                      <option>Category 1</option>
                      <option>Category 2</option>
                      <option>Category 3</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <input type="text" name="skills" placeholder="Skills">
                </div>
                <div class="col-lg-6">
                  <div class="price-br">
                    <input type="text" name="price1" placeholder="Price">
                    <i class="la la-dollar"></i>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="inp-field">
                    <select>
                      <option>Full Time</option>
                      <option>Half time</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <textarea name="description" placeholder="Description"></textarea>
                </div>
                <div class="col-lg-12">
                  <ul>
                    <li><button class="active" type="submit" value="post">Post</button></li>
                    <li><a href="#" title="">Cancel</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div><!--post-project-fields end-->
          <a href="#" title=""><i class="la la-times-circle-o"></i></a>
        </div><!--post-project end-->
      </div><!--post-project-popup end-->



      <div class="chatbox-list">
        <div class="chatbox">
          <div class="chat-mg">
            <a href="#" title=""><img src="./../../../assets/images/resources/usr-img1.png" alt=""></a>
            <span>2</span>
          </div>
          <div class="conversation-box">
            <div class="con-title mg-3">
              <div class="chat-user-info">
                <img src="./../../../assets/images/resources/us-img1.png" alt="">
                <h3>John Doe <span class="status-info"></span></h3>
              </div>
              <div class="st-icons">
                <a href="#" title=""><i class="la la-cog"></i></a>
                <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
              </div>
            </div>
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark">
              <div class="chat-msg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                <span>Sat, Aug 23, 1:10 PM</span>
              </div>
              <div class="date-nd">
                <span>Sunday, August 24</span>
              </div>
              <div class="chat-msg st2">
                <p>Cras ultricies ligula.</p>
                <span>5 minutes ago</span>
              </div>
              <div class="chat-msg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                <span>Sat, Aug 23, 1:10 PM</span>
              </div>
            </div><!--chat-list end-->
            <div class="typing-msg">
              <form>
                <textarea placeholder="Type a message here"></textarea>
                <button type="submit"><i class="fa fa-send"></i></button>
              </form>
              <ul class="ft-options">
                <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
              </ul>
            </div><!--typing-msg end-->
          </div><!--chat-history end-->
        </div>
        <div class="chatbox">
          <div class="chat-mg">
            <a href="#" title=""><img src="./../../../assets/images/resources/usr-img2.png" alt=""></a>
          </div>
          <div class="conversation-box">
            <div class="con-title mg-3">
              <div class="chat-user-info">
                <img src="./../../../assets/images/resources/us-img1.png" alt="">
                <h3>John Doe <span class="status-info"></span></h3>
              </div>
              <div class="st-icons">
                <a href="#" title=""><i class="la la-cog"></i></a>
                <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
                <a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
              </div>
            </div>
            <div class="chat-hist mCustomScrollbar" data-mcs-theme="dark">
              <div class="chat-msg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                <span>Sat, Aug 23, 1:10 PM</span>
              </div>
              <div class="date-nd">
                <span>Sunday, August 24</span>
              </div>
              <div class="chat-msg st2">
                <p>Cras ultricies ligula.</p>
                <span>5 minutes ago</span>
              </div>
              <div class="chat-msg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                <span>Sat, Aug 23, 1:10 PM</span>
              </div>
            </div><!--chat-list end-->
            <div class="typing-msg">
              <form>
                <textarea placeholder="Type a message here"></textarea>
                <button type="submit"><i class="fa fa-send"></i></button>
              </form>
              <ul class="ft-options">
                <li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
                <li><a href="#" title=""><i class="la la-camera"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
              </ul>
            </div><!--typing-msg end-->
          </div><!--chat-history end-->
        </div>
        <div class="chatbox">
          <div class="chat-mg bx">
            <a href="#" title=""><img src="./../../../assets/images/chat.png" alt=""></a>
            <span>2</span>
          </div>
          <div class="conversation-box">
            <div class="con-title">
              <h3>Messages</h3>
              <a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
            </div>
            <div class="chat-list">
              <div class="conv-list active">
                <div class="usrr-pic">
                  <img src="./../../../assets/images/resources/usy1.png" alt="">
                  <span class="active-status activee"></span>
                </div>
                <div class="usy-info">
                  <h3>John Doe</h3>
                  <span>Lorem ipsum dolor <img src="./../../../assets/images/smley.png" alt=""></span>
                </div>
                <div class="ct-time">
                  <span>1:55 PM</span>
                </div>
                <span class="msg-numbers">2</span>
              </div>
              <div class="conv-list">
                <div class="usrr-pic">
                  <img src="./../../../assets/images/resources/usy2.png" alt="">
                </div>
                <div class="usy-info">
                  <h3>John Doe</h3>
                  <span>Lorem ipsum dolor <img src="./../../../assets/images/smley.png" alt=""></span>
                </div>
                <div class="ct-time">
                  <span>11:39 PM</span>
                </div>
              </div>
              <div class="conv-list">
                <div class="usrr-pic">
                  <img src="./../../../assets/images/resources/usy3.png" alt="">
                </div>
                <div class="usy-info">
                  <h3>John Doe</h3>
                  <span>Lorem ipsum dolor <img src="./../../../assets/images/smley.png" alt=""></span>
                </div>
                <div class="ct-time">
                  <span>0.28 AM</span>
                </div>
              </div>
            </div><!--chat-list end-->
          </div><!--conversation-box end-->
        </div>
      </div><!--chatbox-list end-->

    </div><!--theme-layout end-->
</div>
